[tool.poetry]
name = "iaaf"
version = "2.0.0"
description = "Internet Archive Audio Finder - iaaf"
authors = ["Karl Dreher"]
license = "MIT"
readme = "README.md"
packages = [
    {include = "audio_finder"}
]

[tool.poetry.dependencies]
python = "^3.11"
internetarchive = "^3.5.0"

[tool.poetry.scripts]
iaaf = 'audio_finder.main:main'

[tool.poetry.group.release]
optional = true

[tool.poetry.group.release.dependencies]
python-semantic-release = "^8.1.1"


[tool.poetry.group.test.dependencies]
pytest = "^7.4.2"
black = "^23.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variables = ["audio_finder/__init__.py:__version__"]
version_toml = ["pyproject.toml:tool.poetry.version"]

branch = "main"
upload_to_pypi = false
upload_to_release = true
build_command = "pip install poetry && poetry build"

[tool.semantic_release.branches.main]
match = "(.*)"
prerelease = false

