name: ci/cd

on:
  push:


jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Pytest
        run: uv run pytest
      
      - name: Ruff Lint
        run: uv run ruff check

      - name: Ruff Format Check
        run: uv run ruff format --check

      - name: Semantic Release Preview
        run: |
          uv run semantic-release -v --noop version --print

  release:
    needs: test
    permissions:
      contents: write
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, 'chore(release):')
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Semantic Release
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          uv run semantic-release version 
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
